@import url(./vendor/reset.css);
@import url(./vendor/fonts.css);

body {
  background-color: var(--primary-color);
}

:root {
  --primary-color: #ebf6f5;
  --secondary-color: #5cbdb9;
  --tertiary-color: #fbe3e8;
  --quaternary-color: #222222;
}
